[flake8]
max-line-length = 100
exclude = .git,__pycache__,build,dist
ignore = E203, W503, E501
per-file-ignores =
    __init__.py:F401,F403
    app/tests/*:D100,D101,D102,D103,D104
    app/modules/example_pairs.py:E501
